In [1]:
import argparse
import os
import pandas as pd
import sys

sys.path.append('../')
from datasets.Parsers.structures import Node, Tracks
import numpy as np
import glob
import cv2
from scipy.special import comb as n_over_k
from mpl_toolkits.mplot3d.art3d import Line3DCollection
from mpl_toolkits.mplot3d import axes3d
from mpl_toolkits.mplot3d.proj3d import proj_transform
from matplotlib.text import Annotation
import matplotlib.pyplot as plt
from matplotlib.animation import FFMpegWriter
from numpy.random import rand
import pickle
import shutil
import multiprocessing
from tqdm import tqdm
from ACT_utils.ACT_utils import tubelet_in_out_clip, clip_has_tublet
import time

In [ ]:

        gt_file = gt_file[gt_file[6] == 1]  # human class
        gt_file = gt_file[gt_file[8] == -1]
        gt_group = gt_file.groupby(0)
        gt_group_keys = gt_group.indices.keys()
        self.max_frame_index = max(gt_group_keys)

In [19]:
gt_file_path = '../../data/train/MOT17-13-FRCNN/gt/gt.txt'

In [20]:
folder = '../../data/train/MOT17-13-FRCNN'

In [21]:
tracks_file = os.path.join(folder, 'tracks.pkl')

In [22]:
gt_file = pd.read_csv('/home/boqun/Desktop/Bezier/BezierTK/data/train/MOT17-04-FRCNN/gt/gt.txt', header=None)
gt_file

           0    1     2    3    4    5  6  7        8
0          1    1  1363  569  103  241  1  1  0.86014
1          2    1  1362  568  103  241  1  1  0.86173
2          3    1  1362  568  103  241  1  1  0.86173
3          4    1  1362  568  103  241  1  1  0.86173
4          5    1  1362  568  103  241  1  1  0.86173
...      ...  ...   ...  ...  ...  ... .. ..      ...
108000  1046  141   726  -63   58  132  1  1  0.15662
108001  1047  141   727  -63   57  132  1  1  0.15038
108002  1048  141   728  -63   57  132  1  1  0.14143
108003  1049  141   729  -63   56  132  1  1  0.13481
108004  1050  141   731  -62   55  132  1  1  0.11869

[108005 rows x 9 columns]

In [23]:
gt_file = gt_file[gt_file[6] == 1]
gt_file

           0    1     2    3    4    5  6  7        8
0          1    1  1363  569  103  241  1  1  0.86014
1          2    1  1362  568  103  241  1  1  0.86173
2          3    1  1362  568  103  241  1  1  0.86173
3          4    1  1362  568  103  241  1  1  0.86173
4          5    1  1362  568  103  241  1  1  0.86173
...      ...  ...   ...  ...  ...  ... .. ..      ...
108000  1046  141   726  -63   58  132  1  1  0.15662
108001  1047  141   727  -63   57  132  1  1  0.15038
108002  1048  141   728  -63   57  132  1  1  0.14143
108003  1049  141   729  -63   56  132  1  1  0.13481
108004  1050  141   731  -62   55  132  1  1  0.11869

[47557 rows x 9 columns]

In [26]:
gt_file = gt_file[gt_file[8] == -1]
gt_file

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
Index: []

In [28]:
gt_group = gt_file.groupby(0)
gt_group

In [29]:
gt_group_keys = gt_group.indices.keys()
gt_group_keys

dict_keys([])